/*
 * Put project specific base styles here.
 *
 * Note: The proect does not load this file.
 *       You will need to load these using scripts.js.
 *
 *
 */
.personalization-hide {
  display: none;
}

.fragment .partner-personalization {
  display: none;
}

/* MWPW-162386 */
@supports (-moz-appearance: none) {
  h2 strong,
  h3 strong {
    font-weight: unset;
  }
}
